<main class="main">
    <div class="content">
        <h1>Колко пари губим като българи</h1>

        <p>
            Всяко решение на нашите държавници влияе не само на България като страна, но на джоба на всеки от нас.
            Ето няколко от по-скорошните такива решения, които ни струват милиони левове всеки ден.
        </p>

        <div *ngFor="let item of widgets">
            <h2>{{ item.title }}</h2>
            <app-widget-panel [data]="item"></app-widget-panel>
        </div>
    </div>
</main>
<router-outlet />
