<main class="main">
    <div class="content">
        <h1>Колко пари губим като българи</h1>

        <p>
            Всяко решение на нашите държавници влияе не само на България като страна, но на джоба на всеки от нас.
            Ето няколко от по-скорошните такива решения, които ни струват милиони левове всеки ден. Тези суми са
            също така част от националния бюджет и се отразяват на нашите данъци и социални вноски.
        </p>

        <h3 class="text-center text-primary">Математиката не лъже</h3>
        <p>
            Ето няколко суми, които плащаме или не получаваме ако живеем в България. Част от тях се плащат месечно.
        </p>
        <p>
            Сумите по-долу изглеждат шокиращи, но са изчислени по официални публични данни и са реални.
            Ако ви изглеждат невероятни, това най-вероятно означава че сумите които губим от решенията
            на изброените по-долу политици са наистина огромни.
        </p>

        <div *ngFor="let item of widgets">
            <h2>{{ item.title }}</h2>
            <app-widget-panel [data]="item"></app-widget-panel>
        </div>
    </div>
</main>
<router-outlet />
<footer>
    <div class="content">
        <p class="small">
            Информацията в тази страница е с цел информираност на всеки желаещ да знае повече. Тя е базирана на публични данни.
            До всяко твърдение на страницата стои и линк към източник с подробности. Калкулациите са базирани на статистически данни
            намерени в <a href="https://www.nsi.bg/">Националния статистически институт</a> и други публични източници.
            Не се притеснявайте сами да проверите информацията, и ако е вярна - да я споделите с хора които биха имали полза да я знаят.
        </p>
        <p class="small">
            Ако искате детайлна информация за това как са изчислени сумите, моля разгледайте кода в <a href="https://github.com/miroj" target="_blank">GitHub</a>
            или свържете се с мен там. Кодът е публично достъпен и дори можете да предложите промени, за да го подобрим.
        </p>
    </div>
</footer>
