<div class="d-flex justify-content-between align-items-start">
    <div class="counter hover-text">
        <strong>{{data.amount | number}}</strong>
        <span> {{data.currency}}</span>
        <span class="tooltip-text">{{data.tooltip}}</span>
    </div>
    <div class="amount-list flex-grow-1">
        <div class="sub-title">Това се равнява на</div>
        <ul>
            <li *ngFor="let item of data.calculatedItems">
                <strong>{{item.amount | number}} {{item.currency}}</strong>
                <span> {{item.description}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="widget-description" [innerHTML]="data.description"></div>
