<h2>{{ data.title }}</h2>
<div class="d-flex align-items-start flex-wrap">
    <div class="counter hover-text">
        <strong>{{data.amount | number}}</strong>
        <span> {{data.currency}}</span>
        <span class="tooltip-text">{{data.tooltip}}</span>
    </div>
    <div class="amount-list flex-grow-1">
        <div class="amount-words ellipsis">{{data.amount | numberToWordsBg:data.currency}}</div>
        <h3 [hidden]="isCollapsed">Това се равнява на</h3>
        <ul>
            <li *ngFor="let item of data.calculatedItems">
                <strong>{{item.amount | number}} {{item.currency}}</strong>
                <span> {{item.description}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="widget-description fade-in" [hidden]="isCollapsed">
    <p *ngFor="let item of data.description" [innerHTML]="item"></p>
</div>
<div *ngIf="!expanded" class="clickable" style="margin-bottom: 4px;" (click)="expanded = !expanded">
    Виж източниците на повече информация
</div>
<div [hidden]="!expanded">
    <h3>Източници</h3>
    <div *ngFor="let r of data.references" class="no-wrap" style="font-size: 0.825rem;">
        - <a href="{{r}}" target="_blank" class="ellipsis">{{r}}</a>
    </div>
</div>
