$orange: #da8d00;
$red: #e63d13;
$gray: #888;
$light-gray: #fafafa;
$dark-gray: #212529;

$gray-700: oklch(36.98% 0.014 302.71);
$gray-400: oklch(70.9% 0.015 304.04);

$font-family: 'Segoe UI', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
